---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_key>&lat=39.223074&lon=-105.99923&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.2231,"lon":-105.9992,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1637082164,"sunrise":1637070541,"sunset":1637106536,"temp":44.78,"feels_like":37,"pressure":1009,"humidity":23,"dew_point":11.71,"uvi":1.63,"clouds":61,"visibility":10000,"wind_speed":18.84,"wind_deg":273,"wind_gust":43.28,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1637082180,"precipitation":0},{"dt":1637082240,"precipitation":0},{"dt":1637082300,"precipitation":0},{"dt":1637082360,"precipitation":0},{"dt":1637082420,"precipitation":0},{"dt":1637082480,"precipitation":0},{"dt":1637082540,"precipitation":0},{"dt":1637082600,"precipitation":0},{"dt":1637082660,"precipitation":0},{"dt":1637082720,"precipitation":0},{"dt":1637082780,"precipitation":0},{"dt":1637082840,"precipitation":0},{"dt":1637082900,"precipitation":0},{"dt":1637082960,"precipitation":0},{"dt":1637083020,"precipitati[...]
