---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"95-g4sQTGksgcne7DJnVlu9G9xZ66Y"
    body:
      encoding: UTF-8
      string: '{"activity":"Write a list of things you are grateful for","type":"relaxation","participants":1,"price":0,"link":"","key":"2062010","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 16:52:06 GMT
recorded_with: VCR 6.0.0
