---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac-B2PTE5uJXZE4O6SU8qCAGGXdxl8"
    body:
      encoding: UTF-8
      string: '{"activity":"Draw and color a Mandala","type":"relaxation","participants":1,"price":0.05,"link":"https://en.wikipedia.org/wiki/Mandala","key":"4614092","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 17:20:09 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8d-sfUbW7aUsW1wujXpu8HPUQYI+/4"
    body:
      encoding: UTF-8
      string: '{"activity":"Create a meal plan for the coming week","type":"cooking","participants":1,"price":0,"link":"","key":"3491470","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 17:20:12 GMT
recorded_with: VCR 6.0.0
