---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=busywork
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8a-XFuUUL8UsLBWXLeIkCQzRRdqGKk"
    body:
      encoding: UTF-8
      string: '{"activity":"Create and follow a savings plan","type":"busywork","participants":1,"price":0,"link":"","key":"9366464","accessibility":0.2}'
  recorded_at: Mon, 15 Nov 2021 17:25:01 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71-jm9Gjhho3eI9rd4kCp2sekw1VE0"
    body:
      encoding: UTF-8
      string: '{"activity":"Color","type":"relaxation","participants":1,"price":0.1,"link":"","key":"5322987","accessibility":0}'
  recorded_at: Mon, 15 Nov 2021 17:25:03 GMT
recorded_with: VCR 6.0.0
