---
http_interactions:
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"93-gt1zIqWloBRRBnmMfqDwJNqzPRg"
    body:
      encoding: UTF-8
      string: '{"activity":"Bake something you''ve never tried before","type":"cooking","participants":1,"price":0.4,"link":"","key":"5665663","accessibility":0.3}'
  recorded_at: Mon, 15 Nov 2021 17:25:05 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a0-qsQpyIxphVOWl80438Yjz/SYg00"
    body:
      encoding: UTF-8
      string: '{"activity":"Start a book you''ve never gotten around to reading","type":"relaxation","participants":1,"price":0.1,"link":"","key":"7114122","accessibility":0.1}'
  recorded_at: Mon, 15 Nov 2021 17:25:07 GMT
recorded_with: VCR 6.0.0
